<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/cookie.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/jwtheader.js"></script>
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/css/pico.fuchsia.min.css"/>
  <link rel="stylesheet" href="/css/global.css"/>
    <meta name="authToken" content="">
  <script src="/js/mypage.js"></script>
  <link rel="stylesheet" href="/css/mypage.css"/>
    <title>Title</title>
</head>
<body>
<main class="container">
  <div th:replace="reusable/header.html::header(${isLogin}, ${username})"></div>
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="/mypage"><h1>마이페이지</h1></a></li>
    </ul>
  </nav>
  <div class="image-section">
    <img class="mypage-pic" src="/image/temp.png"/>
    <!--    이미지 소스 경로 th로 넣어줘야함-->
    <div>
    <div>
      <h3><strong th:text="${user.nickname}"></strong></h3>
      <p>자기소개 자기소개 자기소개자기소개 자기소개 자기소개자기소개 자기소개 자기소개자기소개 자기소개 자기소개자기소개 자기소개 자기소개</p>
    </div>
      <a href="/seller">판매자 센터</a>
    </div>
  </div>
  <div role="group">
<!--    상단 메뉴 div, button이나 a태그로 구성-->
    <button class="outline" onclick="location.href='/mypage'">내 정보</button>
    <button class="outline contrast" onclick="location.href='/mypage/edit'">회원정보 수정</button>
<!--    정보수정에 회원탈퇴 들어갈거임-->
    <button class="outline contrast" onclick="location.href='/mypage/favorite'">즐겨찾기 목록</button>
  </div>
  <div class="grid">
<!--    회원정보 보여주는 div-->
    <div class="left">
      <label>
        아이디
        <p><Strong th:text="${user.userid}"></Strong></p>
      </label>
      <label>
        휴대폰번호
        <p><Strong th:text="${user.phonenum}"></Strong></p>
      </label>
      <label>
        성별
        <p><Strong th:text="${user.sex}"></Strong></p>
      </label>
      <label>
        SNS
        <p><Strong th:text="${user.sns!=null?user.sns:''}"></Strong></p>
<!--        여기는 each돌려야함-->
      </label>
<!--      아이디, 휴대폰번호, 성별, SNS-->
    </div>
    <div class="right">
      <label>
        닉네임
        <p><Strong th:text="${user.nickname}"></Strong></p>
      </label>
      <label>
        이메일
        <p><Strong th:text="${user.email}"></Strong></p>
      </label>
      <label>
        생일
        <p><Strong th:text="${user.birth}"></Strong></p>
      </label>
<!-- 닉네임, 이메일, 생일  -->
    </div>
  </div>

</main>

</body>
</html>