.mypage-pic{
    max-width: 250px;
    max-height: 250px;
    padding: 20px;
}

.image-section{
    margin-bottom: 50px;
    display: flex;
}

.nickname{
    margin-top: 30px;
}

.finalCheck{
    max-width: 600px;
    margin : 0 auto
}