.article{
    margin-top: 50px;
}

.inner1{
    align-items: center;
    display: flex;
}

summary{
    height: 48px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    height: 60px;
}
